<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width,initial-scale-1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>Blog</title>
    </head>
    <body>
        <div class="container">
            <h1 class="mb-4">Edit Article</h1>
            <form class="/articles" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input required value="<%= article.title %>" name="title" id="title" class="form-control" >
                </div>
                 <div>   
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control"><%= article.description %></textarea>
                </div>
                <div>   
                    <label for="markdown">Markdown</label>
                    <textarea required name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
                </div>
                <p></p>
                <a href="/" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </body>
</html>